[submodule "laurenshappyhounds"]
	path = laurenshappyhounds
	url = https://github.com/ip3ly5/laurenshappyhounds.git
[submodule "thoughtanaut"]
	path = thoughtanaut
	url = https://github.com/ip3ly5/thoughtanaut.git
